<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Page not found!</h1>
      <p>
        Unfortunately, this restaurant doesn't exist!
      </p>
      <p>
        You don't need to sign up or create any account - you can simply start
        sharing right away!
      </p>
    </main>
  </body>
</html>
