<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
    <title><%=title  %></title>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/side-drawer') %>
    <main>
      <h1>Something went wrong!</h1>
      <p>
        Unfortunately, this restaurant doesn't exist!
      </p>
      <p>
        Unfortunately, something went wrong on the server side! - We are doing out best to fix it!
      </p>
    </main>
  </body>
</html>
